
<div class="contai">
    <div class="container swiper">
        <div class="slide-container">
            <div class="card-wrapper swiper-wrapper">
                <div class="card swiper-slide">
                    <img src="/Responsive Card Slider/images/showImg/blogger.jpg" alt="" class="post-img">
                    <div class="category-time">
                        <span class="cate-gory">Tech</span>
                        <span class="postdate">12 Feb 2022</span>
                    </div>
                    <a href="post-page.html" class="post-title">
                        How to Create Bext UX Design with Adobe XD
                    </a>
                    <div class="profile-details">
                        <img src="images/profile/profile1.jpg" alt="" />
                        <div class="name-job">
                            <h3 class="name">David Cardlos</h3>
                            <h4 class="job">Full Stack Developer</h4>
                        </div>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <img src="/Responsive Card Slider/images/showImg/blogger.jpg" alt="" class="post-img">
                    <div class="category-time">
                        <span class="cate-gory">Tech</span>
                        <span class="postdate">12 Feb 2022</span>
                    </div>
                    <a href="post-page.html" class="post-title">
                        How to Create Bext UX Design with Adobe XD
                    </a>
                    <div class="profile-details">
                        <img src="images/profile/profile1.jpg" alt="" />
                        <div class="name-job">
                            <h3 class="name">David Cardlos</h3>
                            <h4 class="job">Full Stack Developer</h4>
                        </div>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <img src="/Responsive Card Slider/images/showImg/blogger.jpg" alt="" class="post-img">
                    <div class="category-time">
                        <span class="cate-gory">Tech</span>
                        <span class="postdate">12 Feb 2022</span>
                    </div>
                    <a href="post-page.html" class="post-title">
                        How to Create Bext UX Design with Adobe XD
                    </a>
                    <div class="profile-details">
                        <img src="images/profile/profile1.jpg" alt="" />
                        <div class="name-job">
                            <h3 class="name">David Cardlos</h3>
                            <h4 class="job">Full Stack Developer</h4>
                        </div>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <img src="/Responsive Card Slider/images/showImg/blogger.jpg" alt="" class="post-img">
                    <div class="category-time">
                        <span class="cate-gory">Tech</span>
                        <span class="postdate">12 Feb 2022</span>
                    </div>
                    <a href="post-page.html" class="post-title">
                        How to Create Bext UX Design with Adobe XD
                    </a>
                    <div class="profile-details">
                        <img src="images/profile/profile1.jpg" alt="" />
                        <div class="name-job">
                            <h3 class="name">David Cardlos</h3>
                            <h4 class="job">Full Stack Developer</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
    </div>
</div>

<main>
    <div class="main">

        <div class="container">

            <!--
              - BLOG SECTION
            -->

            <div class="blog">

                <h2 class="h2">Latest Blog Post</h2>

                <div class="blog-card-group">

                    <div class="blog-card">

                        <div class="blog-card-banner">
                            <img src="./assets/images/blog-1.png" alt="Building microservices with Dropwizard, MongoDB & Docker"
                                 width="250" class="blog-banner-img">
                        </div>

                        <div class="blog-content-wrapper">

                            <span class="blog-topic text-tiny">
                                <p>Database</p>
                            </span>

                            <h3>
                                <a href="#" class="h3">
                                    Building microservices with Dropwizard, MongoDB & Docker
                                </a>
                            </h3>

                            <p class="blog-text">
                                This NoSQL database oriented to documents (by documents like JSON) combines some of the features from
                                relational
                                databases, easy to use and the multi-platform is the best option for scale up and have fault
                                tolerance, load balancing,
                                map reduce, etc.
                            </p>

                            <div class="wrapper-flex">
                                <div class="profile-wrapper">
                                    <img src="./assets/images/author.png" alt="Julia Walker" width="50">
                                </div>
                                <div class="wrapper">
                                    <span>Julia Walker</span>
                                    <p class="text-sm">
                                        <time datetime="2022-01-17">Jan 17, 2022</time>
                                    </p>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!--
              - ASIDE
            -->

            <div class="aside">

                <div class="topics">

                    <h2 class="h2">Topics</h2>

                    <a href="#" class="topic-btn">
                        <div class="icon-box">
                            <ion-icon name="server-outline"></ion-icon>
                        </div>

                        <p>Database</p>
                    </a>

                    <a href="#" class="topic-btn">
                        <div class="icon-box">
                            <ion-icon name="accessibility-outline"></ion-icon>
                        </div>

                        <p>Accessibility</p>
                    </a>

                    <a href="#" class="topic-btn">
                        <div class="icon-box">
                            <ion-icon name="rocket-outline"></ion-icon>
                        </div>

                        <p>Web Performance</p>
                    </a>

                </div>

                <div class="tags">

                    <h2 class="h2">Tags</h2>
                    <div class="wrapper">
                        <span class="hashtag">#mongodb</span>
                        <span class="hashtag">#nodejs</span>
                        <span class="hashtag">#a11y</span>
                        <span class="hashtag">#mobility</span>
                        <span class="hashtag">#inclusion</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/as/Responsive Card Slider/js/swiper-bundle.min.js"></script>
<script src="~/Home/js/swiper-bundle.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
